<template name="MasterLayout">
  <div class="contatin">
    <div class="row">
      <div class="login">
        {{#if currentUser}}
          {{currentUser.profile.name}} - <a data-logout>Logout</a>
        {{else}}
          {{#if loggingIn}}
            Logging in...
          {{else}}
            <a data-login>Login with Meteor</a>
          {{/if}}
        {{/if}}
      </div>
    </div>

    <div class="row">
      <ul class="breadcrumb">
        <li>
          <a href="/">Home</a>
          <span class="divider">/</span>
        </li>
        {{> yield "breadcrumbs"}}
      </ul>
    </div>

    <div class="row">
      {{> yield}}
    </div>
  </div>
</template>
